body {
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media (min-width: 5801px) and (max-width: 6000px) {
  html {
    font-size: 56px;
  }

  h1 {
    font-size: 58px;
  }
}

@media (min-width: 5601px) and (max-width: 5800px) {
  html {
    font-size: 54px;
  }

  h1 {
    font-size: 56px;
  }
}

@media (min-width: 5401px) and (max-width: 5600px) {
  html {
    font-size: 52px;
  }

  h1 {
    font-size: 54px;
  }
}

@media (min-width: 5201px) and (max-width: 5400px) {
  html {
    font-size: 50px;
  }

  h1 {
    font-size: 52px;
  }
}

@media (min-width: 5001px) and (max-width: 5200px) {
  html {
    font-size: 48px;
  }

  h1 {
    font-size: 50px;
  }
}

@media (min-width: 4801px) and (max-width: 5000px) {
  html {
    font-size: 46px;
  }

  h1 {
    font-size: 48px;
  }
}

@media (min-width: 4601px) and (max-width: 4800px) {
  html {
    font-size: 44px;
  }

  h1 {
    font-size: 46px;
  }
}

@media (min-width: 4401px) and (max-width: 4600px) {
  html {
    font-size: 42px;
  }

  h1 {
    font-size: 44px;
  }
}

@media (min-width: 4201px) and (max-width: 4400px) {
  html {
    font-size: 40px;
  }

  h1 {
    font-size: 42px;
  }
}

@media (min-width: 4001px) and (max-width: 4200px) {
  html {
    font-size: 38px;
  }

  h1 {
    font-size: 40px;
  }
}

@media (min-width: 3801px) and (max-width: 4000px) {
  html {
    font-size: 36px;
  }

  h1 {
    font-size: 38px;
  }
}

@media (min-width: 3601px) and (max-width: 3800px) {
  html {
    font-size: 34px;
  }

  h1 {
    font-size: 36px;
  }
}

@media (min-width: 3401px) and (max-width: 3600px) {
  html {
    font-size: 32px;
  }

  h1 {
    font-size: 34px;
  }
}

@media (min-width: 3201px) and (max-width: 3400px) {
  html {
    font-size: 30px;
  }

  h1 {
    font-size: 32px;
  }
}

@media (min-width: 3001px) and (max-width: 3200px) {
  html {
    font-size: 28px;
  }

  h1 {
    font-size: 30px;
  }
}

@media (min-width: 2801px) and (max-width: 3000px) {
  html {
    font-size: 26px;
  }

  h1 {
    font-size: 28px;
  }
}

@media (min-width: 2601px) and (max-width: 2800px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 26px;
  }
}

@media (min-width: 2401px) and (max-width: 2600px) {
  html {
    font-size: 26px;
  }

  h1 {
    font-size: 28px;
  }
}

@media (min-width: 2201px) and (max-width: 2400px) {
  html {
    font-size: 24px;
  }

  h1 {
    font-size: 26px;
  }
}

@media (min-width: 2001px) and (max-width: 2200px) {
  html {
    font-size: 22px;
  }

  h1 {
    font-size: 24px;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  html {
    font-size: 20px;
  }

  h1 {
    font-size: 22px;
  }
}

@media (min-width: 1601px) and (max-width: 1800px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 20px;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 18px;
  }
}